$fz10 : 10/14*100%;
$fz11 : 11/14*100%;
$fz12 : 12/14*100%;
$fz13 : 13/14*100%;
$fz14 : 100%;
$fz15 : 15/14*100%;
$fz16 : 16/14*100%;
$fz17 : 17/14*100%;
$fz18 : 18/14*100%;
$fz19 : 19/14*100%;
$fz20 : 20/14*100%;
$fz21 : 21/14*100%;
$fz22 : 22/14*100%;
$fz23 : 23/14*100%;
$fz24 : 24/14*100%;
$fz25 : 25/14*100%;
$fz26 : 26/14*100%;
$fz27 : 27/14*100%;
$fz28 : 28/14*100%;
$fz29 : 29/14*100%;
$fz30 : 30/14*100%;
$fz31 : 31/14*100%;
$fz32 : 32/14*100%;
$fz33 : 33/14*100%;
$fz34 : 34/14*100%;
$fz35 : 35/14*100%;
$fz36 : 36/14*100%;
$fz37 : 37/14*100%;
$fz38 : 38/14*100%;
$fz39 : 39/14*100%;
$fz40 : 40/14*100%;
$fz41 : 41/14*100%;
$fz42 : 42/14*100%;
$fz43 : 43/14*100%;
$fz44 : 44/14*100%;
$fz45 : 45/14*100%;
$fz46 : 46/14*100%;
$fz47 : 47/14*100%;
$fz48 : 48/14*100%;