.mv {
  background: url("/medi-caree/common/img/flourish/mv.png") no-repeat center; }

.container {
  background: url("/medi-caree/common/img/flourish/bg_cont01.png"); }
  .container .cont01 {
    width: 100%;
    padding: 70px 0; }
    .container .cont01 .wrap .c-item .item01 {
      width: 300px;
      float: left;
      margin-left: 0;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item01 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item01 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #ff6699; }
        .container .cont01 .wrap .c-item .item01 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item01 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item01 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item01 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item01 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item01 .info .ltxt span {
            display: inline; }
    .container .cont01 .wrap .c-item .item02 {
      width: 300px;
      float: left;
      margin-left: 50px;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item02 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item02 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #b865a5; }
        .container .cont01 .wrap .c-item .item02 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item02 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item02 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item02 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item02 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item02 .info .ltxt span {
            display: inline; }
    .container .cont01 .wrap .c-item .item03 {
      width: 300px;
      float: left;
      margin-left: 50px;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item03 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item03 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #b865a5; }
        .container .cont01 .wrap .c-item .item03 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item03 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item03 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item03 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item03 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item03 .info .ltxt span {
            display: inline; }
    .container .cont01 .wrap .c-item .item04 {
      width: 300px;
      float: left;
      margin-left: 0;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item04 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item04 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #f5ba0f; }
        .container .cont01 .wrap .c-item .item04 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item04 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item04 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item04 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item04 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item04 .info .ltxt span {
            display: inline; }
    .container .cont01 .wrap .c-item .item05 {
      width: 300px;
      float: left;
      margin-left: 50px;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item05 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item05 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #91c93c; }
        .container .cont01 .wrap .c-item .item05 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item05 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item05 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item05 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item05 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item05 .info .ltxt span {
            display: inline; }
    .container .cont01 .wrap .c-item .item06 {
      width: 300px;
      float: left;
      margin-left: 50px;
      margin-top: 55px; }
      .container .cont01 .wrap .c-item .item06 .photo {
        height: 300px;
        padding: 0; }
      .container .cont01 .wrap .c-item .item06 .info {
        line-height: 1.7em;
        height: 100px;
        padding: 15px;
        background: #0d8dce; }
        .container .cont01 .wrap .c-item .item06 .info a {
          color: #fff; }
        .container .cont01 .wrap .c-item .item06 .info .htxt {
          font-size: 107.14286%;
          margin-bottom: 10px; }
        .container .cont01 .wrap .c-item .item06 .info .ntxt {
          font-size: 128.57143%;
          font-weight: bold; }
          .container .cont01 .wrap .c-item .item06 .info .ntxt span {
            font-size: 166.666667%; }
        .container .cont01 .wrap .c-item .item06 .info .ltxt {
          font-size: 92.85714%; }
          .container .cont01 .wrap .c-item .item06 .info .ltxt span {
            display: inline; }
  .container .interview {
    min-width: 1000px; }
    .container .interview .wrap h3 {
      font-size: 214.28571%;
      text-align: center;
      margin: 0 0 50px 0; }
      .container .interview .wrap h3 span {
        font-size: 190%;
        font-weight: normal; }
    .container .interview .wrap .c-interview {
      background: #fff;
      padding: 30px; }
      .container .interview .wrap .c-interview .left {
        width: 350px;
        float: left; }
        .container .interview .wrap .c-interview .left .title {
          margin: 0 0 38px 0; }
          .container .interview .wrap .c-interview .left .title .icon {
            width: 60px;
            float: left; }
          .container .interview .wrap .c-interview .left .title .text {
            width: 282px;
            float: right;
            line-height: 1.6em; }
            .container .interview .wrap .c-interview .left .title .text .htxt {
              font-size: 107.14286%; }
            .container .interview .wrap .c-interview .left .title .text .ntxt {
              font-size: 121.42857%;
              font-weight: bold; }
              .container .interview .wrap .c-interview .left .title .text .ntxt span {
                font-size: 150%; }
            .container .interview .wrap .c-interview .left .title .text .ltxt {
              font-size: 92.85714%; }
      .container .interview .wrap .c-interview .right {
        width: 510px;
        float: right; }
        .container .interview .wrap .c-interview .right h4 {
          font-size: 157.14286%;
          text-align: justify;
          line-height: 1em;
          margin: 0 0 42px 0;
          padding: 0 15px;
          border-left: 4px solid #ff6699; }
          .container .interview .wrap .c-interview .right h4 p:first-child {
            margin-bottom: 15px; }
        .container .interview .wrap .c-interview .right .c-right .block01, .container .interview .wrap .c-interview .right .c-right .block02 {
          margin: 0 0 35px 0;
          font-size: 107.14286%; }
          .container .interview .wrap .c-interview .right .c-right .block01 h5, .container .interview .wrap .c-interview .right .c-right .block02 h5 {
            color: #ff6699;
            font-size: 128.57143%;
            line-height: 1.5em;
            margin: 0 0 15px 0; }
        .container .interview .wrap .c-interview .right .c-right .block03 h5 {
          color: #ff6699;
          font-size: 107.14286%;
          width: 130px;
          margin: 0;
          padding: 10px 30px;
          background: #f1f1f1; }
        .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 {
          padding: 15px 15px 20px 15px;
          border: 1px solid #f1f1f1; }
          .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bLeft {
            width: 190px;
            float: left; }
          .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight {
            width: 260px;
            float: right; }
            .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p {
              font-weight: bold;
              text-align: center;
              padding: 2px 0;
              margin: 0 0 14px 0; }
              .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.gray {
                position: relative;
                background: #f1f1f1; }
                .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.gray:after {
                  content: '';
                  position: absolute;
                  bottom: -8px;
                  left: 118px;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  border-top: 8px solid #f1f1f1; }
              .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.pink {
                position: relative;
                background: #ffccdd; }
                .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.pink:after {
                  content: '';
                  position: absolute;
                  bottom: -8px;
                  left: 118px;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  border-top: 8px solid #ffccdd; }
              .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.last:after {
                display: none; }
  .container .graduate {
    min-width: 1000px;
    padding-bottom: 100px; }
    .container .graduate .wrap {
      text-align: center; }
      .container .graduate .wrap h3 {
        font-size: 214.28571%;
        margin: 0 0 5% 0; }
        .container .graduate .wrap h3 span {
          font-size: 190%;
          font-weight: normal; }
      .container .graduate .wrap ul {
        display: inline-block;
        zoom: 1;
        *display: inline;
        padding: 0;
        margin: 0; }
        .container .graduate .wrap ul li {
          list-style: none;
          width: 150px;
          float: left;
          margin-left: 25px; }
          .container .graduate .wrap ul li.first {
            margin-left: 0; }

@media only screen and (max-width: 768px) {
  .mv {
    min-width: 100%;
    background: none;
    padding: 0; }
    .mv .wrap {
      width: 100%;
      padding: 0; }
      .mv .wrap img {
        width: 100%;
        height: auto; }

  .container {
    min-width: 100%; }
    .container .cont01 {
      width: 100%;
      padding: 6% 0 15% 0; }
      .container .cont01 .wrap {
        width: 100%;
        padding: 0; }
        .container .cont01 .wrap h3 {
          width: 94%;
          padding: 0 3%;
          margin-bottom: 4%; }
        .container .cont01 .wrap .c-item .item01 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #ff6699; }
          .container .cont01 .wrap .c-item .item01 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item01 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item01 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item01 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item01 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item01 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item01 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item01 .info .ltxt span {
                display: block; }
        .container .cont01 .wrap .c-item .item02 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #b865a5; }
          .container .cont01 .wrap .c-item .item02 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item02 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item02 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item02 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item02 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item02 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item02 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item02 .info .ltxt span {
                display: block; }
        .container .cont01 .wrap .c-item .item03 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #b865a5; }
          .container .cont01 .wrap .c-item .item03 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item03 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item03 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item03 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item03 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item03 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item03 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item03 .info .ltxt span {
                display: block; }
        .container .cont01 .wrap .c-item .item04 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #f5ba0f; }
          .container .cont01 .wrap .c-item .item04 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item04 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item04 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item04 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item04 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item04 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item04 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item04 .info .ltxt span {
                display: block; }
        .container .cont01 .wrap .c-item .item05 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #91c93c; }
          .container .cont01 .wrap .c-item .item05 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item05 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item05 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item05 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item05 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item05 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item05 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item05 .info .ltxt span {
                display: block; }
        .container .cont01 .wrap .c-item .item06 {
          width: 96%;
          padding: 2%;
          float: none;
          margin-left: 0;
          margin-top: 3%;
          background: #0d8dce; }
          .container .cont01 .wrap .c-item .item06 .photo {
            width: 25%;
            height: auto;
            float: left; }
            .container .cont01 .wrap .c-item .item06 .photo img {
              width: 100%;
              height: auto; }
          .container .cont01 .wrap .c-item .item06 .info {
            width: 72%;
            float: right;
            color: #fff;
            line-height: 1.7em;
            height: auto;
            padding: 0;
            background: url("/medi-caree/common/img/flourish/arrow_right.png") right 3% center no-repeat; }
            .container .cont01 .wrap .c-item .item06 .info .htxt {
              font-size: 90%;
              margin-bottom: 0; }
            .container .cont01 .wrap .c-item .item06 .info .ntxt {
              font-size: 110%;
              font-weight: bold;
              margin-bottom: 2%; }
              .container .cont01 .wrap .c-item .item06 .info .ntxt span {
                font-size: 130%; }
            .container .cont01 .wrap .c-item .item06 .info .ltxt {
              font-size: 80%;
              line-height: 1.2em; }
              .container .cont01 .wrap .c-item .item06 .info .ltxt span {
                display: block; }
    .container .interview {
      min-width: 100%;
      padding-bottom: 4%; }
      .container .interview .wrap {
        width: 94%;
        margin: 0 3%; }
        .container .interview .wrap h3 {
          text-align: center;
          margin: 10% 0 10% 0;
          font-size: 150%; }
          .container .interview .wrap h3 span {
            font-size: 190%; }
        .container .interview .wrap .c-interview {
          background: #fff;
          padding: 3%; }
          .container .interview .wrap .c-interview .left {
            width: 100%;
            float: none; }
            .container .interview .wrap .c-interview .left .title .icon {
              width: 10%;
              float: left; }
              .container .interview .wrap .c-interview .left .title .icon img {
                width: 100%;
                height: auto; }
            .container .interview .wrap .c-interview .left .title .text {
              width: 89%;
              float: right;
              line-height: 1.6em; }
              .container .interview .wrap .c-interview .left .title .text .htxt {
                font-size: 80%; }
              .container .interview .wrap .c-interview .left .title .text .ntxt {
                font-size: 110%;
                font-weight: bold; }
                .container .interview .wrap .c-interview .left .title .text .ntxt span {
                  font-size: 140%; }
              .container .interview .wrap .c-interview .left .title .text .ltxt {
                font-size: 80%; }
            .container .interview .wrap .c-interview .left .c-left {
              width: 100%;
              margin: 0 0 4% 0; }
              .container .interview .wrap .c-interview .left .c-left img {
                width: 100%;
                height: auto; }
          .container .interview .wrap .c-interview .right {
            width: 100%;
            margin-top: 5%;
            float: none; }
            .container .interview .wrap .c-interview .right h4 {
              font-size: 120%;
              text-align: justify;
              line-height: 1em;
              margin: 0 0 5% 0;
              padding: 0 2%;
              border-left: 4px solid #ff6699; }
              .container .interview .wrap .c-interview .right h4 p:first-child {
                margin-bottom: 15px; }
            .container .interview .wrap .c-interview .right .c-right .block01, .container .interview .wrap .c-interview .right .c-right .block02 {
              margin: 0 0 35px 0; }
              .container .interview .wrap .c-interview .right .c-right .block01 h5, .container .interview .wrap .c-interview .right .c-right .block02 h5 {
                color: #ff6699;
                font-size: 100%;
                line-height: 1.5em;
                margin: 0 0 2% 0; }
            .container .interview .wrap .c-interview .right .c-right .block03 h5 {
              color: #ff6699;
              font-size: 100%;
              text-align: center;
              width: 45%;
              margin: 0;
              padding: 1% 0;
              background: #f1f1f1; }
            .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 {
              padding: 2%;
              border: 1px solid #f1f1f1; }
              .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bLeft {
                width: 100%;
                float: none; }
              .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight {
                width: 100%;
                float: none; }
                .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p {
                  font-weight: bold;
                  text-align: center;
                  padding: 2px 0;
                  margin: 0 0 4% 0; }
                  .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.gray {
                    position: relative;
                    background: #f1f1f1; }
                    .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.gray:after {
                      content: '';
                      position: absolute;
                      bottom: -8px;
                      left: 45%;
                      border-left: 8px solid transparent;
                      border-right: 8px solid transparent;
                      border-top: 8px solid #f1f1f1; }
                  .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.pink {
                    position: relative;
                    background: #ffccdd; }
                    .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.pink:after {
                      content: '';
                      position: absolute;
                      bottom: -8px;
                      left: 45%;
                      border-left: 8px solid transparent;
                      border-right: 8px solid transparent;
                      border-top: 8px solid #ffccdd; }
                  .container .interview .wrap .c-interview .right .c-right .block03 .c-block03 .bRight p.last:after {
                    display: none; }
    .container .graduate {
      min-width: 100%;
      padding: 0 0 10% 0; }
      .container .graduate .wrap {
        text-align: center; }
        .container .graduate .wrap h3 {
          margin: 6% 0 6% 0;
          font-size: 150%; }
          .container .graduate .wrap h3 span {
            color: #ff943c;
            font-size: 190%; }
        .container .graduate .wrap ul {
          display: inline-block;
          zoom: 1;
          *display: inline;
          padding: 0;
          margin: 0; }
          .container .graduate .wrap ul li {
            list-style: none;
            width: 32%;
            float: left;
            margin: 0 0 3% 2%; }
            .container .graduate .wrap ul li.first, .container .graduate .wrap ul li.no-margin {
              margin: 0 0 3% 0; }
            .container .graduate .wrap ul li img {
              width: 100%;
              height: auto; } }

/*# sourceMappingURL=flourish.css.map */
